body{
    background-size: cover;
}

.heading{
    width:100%;
    margin: 0px;
    font-size:25px;
}

span{
    color:black;
    font-size:12px;
}

#name{
    color:white;
}

#input{
    width:300px;
}

canvas{
    border: 2px dashed purple;
    border-radius:20px;
    box-shadow: 6px 6px 15px palevioletred;
}